
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Chompas de Alpaca</title>
<style type="text/css">
.todo {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
#Centro{
    margin-left:350px;
}
</style>
<script src="../SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="../SpryAssets/SpryMenuBarVertical.css" rel="stylesheet" type="text/css" />
<link href="../SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
 <link href="estilo.css" rel="stylesheet" type="text/css" media="screen"/>


</head>

<body>
    <table width="200" border="0" align="center">
  <tr>
    <td><img src="../images/titulo_b.jpg" width="969" height="151" /></td>
  </tr>
  <tr>
    <td bgcolor="#32470F"><ul id="MenuBar2" class="MenuBarHorizontal">
            <li><a href="ChompasView.php">Inicio</a></li>
            <li><a href="?opcion=pedidos" >Ver Pedidos</a></li>
            <li><a href="SeguridadView.php?opcion=cerrarSesion" >Cerrar Sesi&oacute;n</a></li>
    </ul></td>
  </tr>
        <tr>
            <td>

                <div id="Centro">
              <h1>Chompas de Alpaca</h1>

    <div id="pedidos">
        <?php if($pedido != null){ ?>
        <table>
        <tr>

                <th>Pedido</th>
                <th>Fecha</th>
                <th>Insumo</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th></th>

        </tr>
        <tr>

                <td><?php echo $pedido->getPedidoId(); ?></td>
                <td><?php echo $pedido->getFecha(); ?></td>
                <td><?php echo $producto->getInsumo(); ?></td>
                <td><?php echo $producto->getNombre(); ?></td>
                <td><?php echo $pedido->getCantidad(); ?></td>

        </tr>

        </table>
        <?php } ?>
        <p><a href="?opcion=pedidos">volver</a></p>
    </div>



</div>



            </td>
        </tr>
  <tr>
    <td><img src="../images/base.jpg" width="968" height="41" /></td>
  </tr>
</table>


<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"../SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
</html>



